
.content{
    background: #f5f5f5;
    width: 100%;
    min-width: 1200px;
    padding-bottom: 40px;
    &-nav{
        width: 1200px;
        margin: 0 auto 20px;
        &-tit{
            overflow: hidden;
            line-height: 69px;
            a{
                float: left;
                font-size: 12px;
                color: #666666;
                &:hover{
                    color: #333;
                }
            }
            span{
                float: left;
                height: 69px;
                width: 35px;
                background: url(../img/page2icon1.png) no-repeat 13px center;
            }
            i{
                float: left;
                font-size: 12px;
                color: #333;
            }
        }
        &-list{
            background: #fff;
            padding: 0 25px;
            ul{
                height: 35px;
                border-bottom: 1px solid #eaeaea;
                li{
                    margin-right: 62px;
                    float: left;
                    line-height: 35px;
                    p{
                        font-size: 12px;
                        color: #333;
                        cursor: pointer;
                        &:hover{
                            color: #ca141d;
                        }
                    }
                    .on{
                        color: #ca141d;
                    }   
                }
                .first{
                    width: 130px;
                    color: #666666;
                    margin-right: 0;
                } 
            }
            .more{
                position: relative;
                li{
                    width: 76px;
                    height: 23px;;
                    line-height: 23px;
                    border: 1px solid #f7f7f7;
                    margin: 5px 38px 5px 0;
                    p{
                        background: #fff url(../img/page2icon2.png) no-repeat right 8px center;
                        padding-left: 5px;
                        position: absolute;
                        width: 71px;
                        z-index: 29;
                        &:hover{
                            color: #333;
                        }
                    }
                    &:hover{
                        border-color: #999999;
                        .dis{
                            display: block;
                        }
                        p{
                            background: #fff url(../img/page2icon3.png) no-repeat right 8px center;
                            height: 24px;
                            margin-bottom: -2px;
                        }
                    }
                    .dis{
                        position: absolute;
                        top: 29px;
                        left: -25px;
                        line-height: 40px;
                        width: 1198px;
                        border: 1px solid #999999;
                        z-index: 19;
                        background: #fff;
                        display: none;
                        i{
                            font-size: 12px;
                            color: #999999;
                            float: left;
                            margin: 0 16px 0 46px;
                            cursor: pointer;
                            &:hover{
                                color: #ca141d;
                            }
                        }
                    }
                }
                >div{
                    color: #666;
                    float: left;
                    line-height: 35px;
                    width: 120px;
                    margin-right: 0;
                    border: 0;
                }
            }
            .rank{
                .first{
                    width: 97px;
                }
                .sortPrice{
                    padding-right: 16px;
                    background: url(../img/sortPicon1.png) no-repeat right 0 center;
                }
            }
        }
    }
    &-goodsList{
        width: 1200px;
        overflow: hidden;
        margin:  0 auto;
        ul{
            width: 1300px;
            overflow: hidden;
            li{
                float: left;
                border: 1px solid transparent;
                margin: 0 10px 10px 0;
                background: #fff;
                &:hover{
                    border-color: #ccc;
                }
                a{
                    width: 198px;
                    height: 350px;
                    display: block;
                    overflow: hidden;
                    padding: 0 16px;
                    position: relative;
                    img{
                        display: block;
                        margin: 30px auto 0;
                        width: 180px;
                        height: 180px;
                    }
                    h3{
                        width: 100%;
                        font-size: 14px;
                        line-height: 36px;
                        color: #333;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    h4{
                        line-height: 24px;
                        font-size: 16px;
                        color: #ca141d;
                        i{
                            display: inline-block;
                            width: 58px;
                            height: 14px;
                            border: 1px solid #84c9fd;
                            text-align: center;
                            border-radius: 7px;
                            font-size: 12px;
                            color: #84c9fd;
                            line-height: 14px;
                            margin-left: 5px;
                        }
                    }
                    h5{
                        overflow: hidden;
                        margin-top: 8px;
                        b{
                            float: left;
                            font-size: 12px;
                            padding: 0 4px;
                            height: 14px;
                            border: 1px solid #ca141d;
                            text-align: center;
                            line-height: 14px;
                            color: #ca141d;
                            margin-right: 4px;
                        }
                    }
                    h6{
                        font-size: 12px;
                        color: #999999;
                        line-height: 28px;
                    }
                    p{
                        position: absolute;
                        top: 0;
                        left: 0;
                        text-align: center;
                        width: 100%;
                        span{
                            line-height: 18px;
                            font-size: 12px;
                            color: #fff;
                            padding:  0 8px;
                            border-radius: 0 0 5px 5px;
                            display: inline-block;
                        }
                        .redicon{
                            background: #ff6a6e;
                        }
                        .blueicon{
                            background: #68beff;
                        }
                    }
                }
            }
        }
    }
}